@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
    --linear-gradient: linear-gradient(90deg, #262626, #8b207a, #b61b7b);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

body {
    background-image: var(--linear-gradient);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* .header {
    width: 100%;
    padding-top: 20px;
} */

.scores-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Adicionado para que os elementos possam envolver para linhas adicionais */
    max-width: 800px;
    margin-top: 10px;
}

.english-scores,
.math-scores,
.total-scores {
    display: inline-block;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.323);
    width: calc(30% - 20px);
    margin-bottom: 20px; /* Adicionado espaço entre as caixas */
}

.english-scores > div,
.math-scores > div,
.total-scores > div {
    margin: 10px auto;
    color: #000;
}

h1 {
    margin-top: 1%;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

button {
    margin-bottom: 20px;
    background: #262626;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #700447;
}

.copy {
    font-size: 12px;
    color: #fcfcfc;
    margin-top: 1px;
}

.footer {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
}

/* layout responsivo */

/* @media only screen and (max-width: 800px) {
    .english-scores,
    .math-scores,
    .total-scores {
        width: calc(50% - 20px); 
    }

    h1 {
        font-size: 14px;
        text-align: center;
        color: #ffffff;
    }

    .copy {
        font-size: 8px;
        color: #fcfcfc;
        margin-bottom: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
 */

@media only screen and (max-width: 500px) {
    .english-scores,
    .math-scores {
        width: calc(50% - 20px); /* Ajuste para uma coluna em telas menores */
        gap: 0;
    }

    .total-scores {
        width: calc(50% - 20px); /* Ajuste para uma coluna em telas menores */
        /* margin-bottom: 50%; */
    }

    h1 {
        margin-top: 10%;
        font-size: 28px;
    }

    #title {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    label,
    input {
        font-size: 14px;
    }

    .copy {
        font-size: 8px;
        color: #fcfcfc;
        margin-left: 20px;
        margin-right: 20px;
    }

    button {
        margin-top: 8%;
        margin-bottom: 210%;
        font-size: 16px;
    }

    button:hover {
        margin-top: 8%;
        font-size: 16px;
    }

    #main {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    footer {
        position: fixed;
        bottom: 2%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        margin-right: auto;
        margin-bottom: 5%;
        justify-content: space;
        text-align: center;
    }
}
